/* Alan Sans */
@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../assets/fonts/Alan_Sans/static/AlanSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* === Fira Sans === */
@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../assets/fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Alan Sans";
}
